.Alert .custom-alert .alert{
    font-size: .8em;
    border-radius: 0;
}
.Badge .custom-badge .badge{
    font-size: .8em;
    border-radius: 0;
}
.Breadcrumb .custom-breadcrumb .breadcrumb{
    font-size: .8em;
    border-radius: 0;
}
.Buttons .custom-buttons .btn{
    font-size: .8em;
    border-radius: 0;
}
.custom-buttonsgroup .btn{
    margin: 1rem auto;
    font-size: .8rem;
    border-radius: 0;
}
.Cards .custom-cards .card{
    margin: 1rem auto;
    font-size: .8rem;
    border-radius: 0;
}

